<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmu.anki.backend.domain.card.decks.repository.mapper.DeckCardsMapper">

    <select id="findDeckCardsByTopic" parameterType="map" resultType="java.lang.Long">
        select kc.korean_card_id
        from korean_cards kc
        where
            exists (
                select 1
                from foreign_cards fc
                where fc.language_code = #{code} and fc.korean_card_id = kc.korean_card_id
            ) and
            exists (
                select 1
                from card_topics ct
                where ct.topic_id=#{topic} and ct.korean_card_id = kc.korean_card_id
            )
        order by korean_word
        LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="countDeckCardsByTopic" parameterType="map" resultType="int">
        select count(kc.korean_card_id)
        from korean_cards kc
        where
            exists (
                select 1
                from foreign_cards fc
                where fc.language_code = #{code} and fc.korean_card_id = kc.korean_card_id
            ) and
            exists (
                select 1
                from card_topics ct
                where ct.topic_id=#{topic} and ct.korean_card_id = kc.korean_card_id
            )
        ;
    </select>

    <select id="findDeckCardsByLevel" parameterType="map" resultType="java.lang.Long">
        select korean_card_id
        from korean_cards kc
        where
            exists (
                select 1
                from foreign_cards fc
                where fc.language_code = #{code} and fc.korean_card_id = kc.korean_card_id
            ) and kc.level = #{level}
        order by korean_word
            LIMIT #{limit} OFFSET #{offset}
        ;
    </select>

    <select id="countDeckCardsByLevel" parameterType="map" resultType="int">
        select count(kc.korean_card_id)
        from korean_cards kc
        where
            exists (
                select 1
                from foreign_cards fc
                where fc.language_code = #{code} and fc.korean_card_id = kc.korean_card_id
            ) and kc.level = #{level}
        ;
    </select>

</mapper>
