<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmu.anki.backend.domain.usercard.repository.UserCardMapper">
    <insert id="studyDeck" parameterType="java.lang.Long">
        INSERT INTO user_cards(korean_card_id, user_id, user_card_state, user_card_state_priority)
        SELECT korean_cards.korean_card_id, #{userId}, 'New', 0
        FROM korean_cards
    </insert>
</mapper>
