@use '@/styles/typography' as tp;
@use '@/styles/breakpoints' as bp;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include bp.respond-to('compact') {
    grid-column: span 4;
  }

  @include bp.respond-to('medium') {
    grid-column: 2 / span 6;
  }

  @include bp.respond-to('expanded') {
    grid-column: 3 / span 8;
  }

  @include bp.respond-to('large') {
    grid-column: 2 / span 10;
  }

  @include bp.respond-to('extra-large') {
    grid-column: 2 / span 10;
  }

  .contents {
    width: 100%;

    .title {
      @include bp.respond-to('large') {
        @include tp.headline-medium;
      }

      @include bp.respond-to('extra-large') {
        @include tp.headline-large;
      }
    }

    .group {
      margin-bottom: 64px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .group-title {
        @include bp.respond-to('large') {
          @include tp.title-medium;
          margin: 0 0 24px 0;
        }

        @include bp.respond-to('extra-large') {
          @include tp.title-large;
          margin: 0 0 36px 0;
        }
      }

      .field-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px 0 12px;

        .label {
          margin: 0;

          @include bp.respond-to('large') {
            @include tp.body-medium;
          }

          @include bp.respond-to('extra-large') {
            @include tp.body-large;
          }
        }
      }

      .first-field-section {
        @include bp.respond-to('large') {
          margin-bottom: 16px;
        }

        @include bp.respond-to('extra-large') {
          margin-bottom: 20px;
        }
      }

      .sign-out-button {
        margin-bottom: 20px;
      }
    }
  }
}

.list {
  width: 100%;

  .language-menu {
    height: 400px;
  }
}
