@use '@/styles/_typography' as typography;
@use '@/styles/theme';

:root {
  --background: #ffffff;
  --foreground: #171717;

  @include typography.typescale;
  @include typography.typeface;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background: var(--background);
  color: var(--foreground);
  font-family: var(--md-sys-typescale-body-large-font-family-name);
}