@use '@/styles/_typography' as typography;

.card {
  width: 274px;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .info {
    padding: 24px;

    .title-container {
      display: flex;
      align-items: center;
      margin: 0 0 16px 0;

      .title {
        @include typography.title-large;
        margin: 0 6px 0 0;
      }

      .check-icon {
        font-variation-settings: 'FILL' 1;
        color: green;
      }
    }

    .word-count {
      @include typography.label-large;
      margin: 0;
      color: #555;
    }
  }

  .bottom-contents {

    .button-container {
      display: flex;
      padding-left: 12px;
      padding-right: 20px;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .progress-bar {
      background-color: gray;
      height: 12px;
    }
  }
}