@use '@/styles/mixins' as *;
@use '@/styles/_typography' as typography;

.grid-container {
  @include grid-system;
  width: 100%;
  height: 100%;
}

.learning-container {
  box-sizing: border-box;
  display: flex;

  grid-column: span 4;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 16px 0;
  gap: 16px;

  @include respond-to('medium') {
    grid-column: 2 / span 6;
  }

  @include respond-to('expanded') {
    grid-column: 3 / span 8;
  }

  @include respond-to('large') {
    grid-column: 3 / span 8;
    gap: 24px;
  }

  @include respond-to('extra-large') {
    grid-column: 3 / span 8;
    gap: 24px;
  }
}

.progress-container {
  grid-column: span 4;
}

.progress-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20px;
}

.progress-title {
  @include typography.label-large;
}
