<configuration>
    <property name="LOG FILE" value="files/app.log"/>

    <!-- ConsoleAppender: 콘솔에 로그 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- FileAppender: 파일에 로그 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger 설정 -->
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
