@use '@/styles/_typography' as typography;
@use '@/styles/mixins' as *;

.page {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 16px 0;
  gap: 16px;

  @include grid-system;

  @include respond-to('compact') {
    padding: 16px 0;
  }

  @include respond-to('medium') {
    padding: 64px 0;
  }

  @include respond-to('expanded') {
    padding: 64px 0;
  }

  @include respond-to('large') {
    padding: 96px 0;
  }

  @include respond-to('extra-large') {
    padding: 96px 0;
  }
}

.content {
  box-sizing: border-box;
  display: flex;

  grid-column: span 4;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  height: 100%;
  gap: 16px;

  @include respond-to('medium') {
    grid-column: 2 / span 6;
  }

  @include respond-to('expanded') {
    grid-column: 3 / span 8;
    gap: 24px;
  }

  @include respond-to('large') {
    grid-column: span 12;
  }

  @include respond-to('extra-large') {
    gap: 24px;
  }

  margin: 0 0 32px 0;

  @include respond-to('large') {
    @include typography.headline-medium;
  }

  @include respond-to('extra-large') {
    @include typography.headline-large;
  }

  .title {
    @include respond-to('large') {
      @include typography.headline-medium;
    }

    @include respond-to('extra-large') {
      @include typography.title-large;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 12px;

    @include respond-to('large') {
      @include grid-system;
      gap: 24px;
    }

    @include respond-to('extra-large') {
      @include grid-system;
      gap: 24px;
    }
  }
}
