@use '@/styles/mixins' as *;

.layout-container-main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  padding: 64px 16px 80px;
  overflow-y: auto;
  background-color: var(--md-sys-color-background);

  // medium
  @include respond-to('medium') {
    padding: 24px 32px;
    background-color: var(--md-sys-color-background);
  }

  // expanded
  @include respond-to('expanded') {
    padding: 36px 24px;
    background-color: var(--md-sys-color-background);
  }

  // large
  @include respond-to('large') {
    padding: 0 200px;
  }

  // extra large
  @include respond-to('extra-large') {
    padding: 0 236px;
  }
}
