@use '@/styles/grid-system' as gs;
@use '@/styles/breakpoints' as bp;

.layout-container-main {
  @include gs.grid-system;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  @include bp.respond-to('compact') {
    padding: 80px 16px 96px;
    background-color: var(--md-sys-color-background);
  }

  @include bp.respond-to('medium') {
    padding: 24px 32px;
    background-color: var(--md-sys-color-background);
  }

  @include bp.respond-to('expanded') {
    padding: 36px 24px;
    background-color: var(--md-sys-color-background);
  }

  @include bp.respond-to('large') {
    padding: 64px 200px;
  }

  @include bp.respond-to('extra-large') {
    padding: 96px 236px;
  }
}
